@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.8);  
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.grid-aside {
  display: grid;
  grid-template-columns: 33% 1fr;
  grid-gap: 20px;
}


.bg-med {
  background: #ecedf35e;
}

.dark {
  background: rgba(0,0,0,0.8);
  color: #f9f9f9;
}

.col {
  display: flex;
}

.row-2 {
  /* outline: 1px solid red; */
  width: 50%;
}

.flex__item {
  outline: 1px solid red;
}

.hr--dashed {
  background: none;
  border: 1px dashed rgb(0, 0, 0);
}

.img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 1rem;
  margin-top: 25px;
  background: #ecedf35e;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px black;
  color: rgba(0, 0, 0, 0.8);  
  text-decoration: none;
}
.btn:hover {
  transform: translateZ(40px);
}

.title {  
  /* outline: 1px dashed blue; */  
  padding-top: 1.75rem;
}
.title h2 {  
  margin: 0;  
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  font-size: calc(24px + 2vw);  
}

.navbar a {
  display: display-block;
  margin-right: 1rem;
  /* text-decoration: none; */
  color: inherit;
}

.header {
  padding: 50px 0;
  margin-bottom: 50px;
  /* text-align: center; */
}
.header h1 {
  font-size: calc(48px + 2vw);
  margin-bottom: 1.75rem;
}
.header p {
  font-size: 36px;
  margin-top: 1.75rem;
  /* max-width: 500px; */
  color: rgba(0, 0, 0, 0.6);
}
.header div {
  margin-top: 1.75rem;
}

.section {
  /* outline: 2px solid green;   */
  margin: 0;
  margin-bottom: 50px;  
}



.article {
  /* outline: 1px solid black; */  
  margin: 50px;
  margin-left: 0;  
  text-align: left;
}
.article img {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.article p {
  line-height: 150%;
}
.article ul {
  display: flex;
  flex-flow: wrap;
  line-height: 170%; 
  list-style: none;
  padding: 0; 
}
.article li {
  margin-right: 0.75rem;
  font-style: italic;
}
.article a {
  display: inline-block;
  font-weight: bold;
  margin-right: 15px;
  text-decoration: none;
}
.article--padding {
  padding: 15px;
}


.card {
  /* outline: 2px dashed orange;   */
  margin-bottom: 50px;
}
.card ul {
  list-style: none;
  padding: 0;
}
.card li {
  padding: 5px 0;
}




.skills__item {  
  /* outline: 1px solid red; */
  position: relative;
  max-width: 200px;
  display: inline-block;
  text-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.skills__item svg {
  width: calc(75px + 1vw);
  height: calc(75px + 1vw);
}

@media(max-width: 768px) {
  .col {
    display: block;
  }
  .row-2 {    
    width: initial;
  }
  .grid-aside {
    display: block;
  }

  .article {
    margin: 0;
    margin-bottom: 75px;
  }
  
  .card__holder {
    display: flex;    
    align-items: top;
    flex-flow: wrap;
  }
  .card {
    margin-right: 50px;
  }
  .card:first-of-type {    
    margin-bottom: 20px;
  }
}
@media(max-width: 360px) {
  .card {
    margin-right: 0;
  }
}



